# PostgreSQL Database URL
DATABASE_URL="postgresql://postgres:secretpassword@localhost:5432/muammo_db?schema=public"

# Express Port Configuration
PORT=3000

# JSON Web Token Key
JWT_SECRET="supersensitive_signing_key_for_muammo_xaritasi_2026_secured"

# Cloudinary Storage Configurations
CLOUDINARY_CLOUD_NAME="muammo_cloud"
CLOUDINARY_API_KEY="123456789012345"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret_key"

# Gemini AI API Key (For auto-category labeling, duplicate checks, spam detection)
GEMINI_API_KEY="your_google_gemini_api_key"

# Firebase Credentials for In-App Notifications
FIREBASE_SERVICE_ACCOUNT_JSON_BASE64="your_base64_encoded_firebase_credentials_json"
